*.pyc
*.flac
model/*
.vscode
datasets/
birdnet.conf
IdentifiedSoFar.txt
IdentifiedSoFar.txt.bak
Birders_Guide_Installer_Configuration.txt
*.pyo
__pycache__/


# Logs y temporales
*.log
*.ini
*.db
analyzing_now.txt
tiempos_procesamiento.log
firstrun.ini
infer_times.log

# Otros archivos temporales y bases de datos
scripts/lastrun.txt
scripts/thisrun.txt
scripts/birds.db
BirdDB.txt
detections_whale.txt
exclude_species_list.txt
include_species_list.txt
scripts/exclude_species_list.txt
scripts/include_species_list.txt
scripts/labels.txt

# Ambientes virtuales
birdnet/
venv/
env/

# Instaladores y paquetes grandes
*.whl
*.tflite

