pip
wheel
setuptools
#torchvision wheel:
https://github.com/dani-cuar/birdnet_pi_modified/releases/download/torchvision-wheel/torchvision-0.13.0a0+da3794e-cp39-cp39-linux_aarch64.whl
torch==2.8.0
torchaudio==2.8.0
colorama==0.4.4
librosa
pytz
tzlocal
pandas
seaborn
streamlit
plotly

