pip
wheel
setuptools
#tflite_runtime-2.6.0-cp39-none-linux_aarch64.whl
https://github.com/dani-cuar/birdnet_pi_modified/releases/download/bullseye-wheel/tflite_runtime-2.6.0-cp39-none-linux_aarch64.whl
colorama==0.4.4
librosa
pytz
tzlocal
pandas
seaborn
streamlit
plotly
# Librerías de PyTorch
#torch
torchaudio
#torchvision

# Librerías de PyTorch:
# Deben ser instaladas como wheels pre-compilados para aarch64 (ARM64)
# Estos son ejemplos de URLs de wheels para Python 3.9/ARM64. ¡Verificar la disponibilidad!
# torch:
https://github.com/Qengineering/PyTorch-Raspberry-Pi/raw/main/torch-1.12.0a0+2c916298.nv22.04-cp39-cp39-linux_aarch64.whl
# torchvision:
https://github.com/Qengineering/PyTorch-Raspberry-Pi/raw/main/torchvision-0.13.0a0+8c63e26-cp39-cp39-linux_aarch64.whl
# torchaudio: (Si es necesario, verifica una URL similar o elimina si no se usa)
# torchaudio
