[Unit]
Description=BirdNET Analysis Server
Before=birdnet_analysis.service
[Service]
Restart=always
Type=simple
RestartSec=10
User=pi
WorkingDirectory=/home/pi/BirdNET-Pi/scripts
ExecStart=/home/pi/BirdNET-Pi/birdnet/bin/python3 /home/pi/BirdNET-Pi/scripts/server.py
Environment="PATH=/home/pi/BirdNET-Pi/birdnet/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
#ExecStart=/usr/local/bin/server.py
[Install]
WantedBy=multi-user.target
