[Unit]
Description=BirdNET-Pi Spectrogram Viewer
[Service]
Restart=always
RestartSec=10
Type=simple
User=pi
ExecStart=/usr/local/bin/spectrogram.sh
[Install]
WantedBy=multi-user.target
